<div class="container">
	<section class="left-panel">
		<img src="../src/assets/images/xtlogo.png" alt="" class="xt-logo">
		<span class="xt-logo-details">{{event.name}}</span>
	</section>	
	<section class="right-panel">
		<div class="logo-container">
			<img [src]='event.img' alt="" class="logo-image">
		</div>
		<div>
			<button class="login-container" (click)="loginBySSO()" [disabled]="!event.showSpinner">
				<span class="login-button">LOGIN</span>
			</button>
			<div>
				<span class="logo-details">{{event.loginDetails}}</span>
			</div>
		</div>
	</section>
	<div class="loading-opacity" *ngIf="!event.showSpinner">
  		<md-spinner class='loading-spinner' *ngIf="!event.showSpinner"></md-spinner> 
	</div>
</div>