<md-card>
    <md-card-header>
    	<div class="action-details">
				<md-card-title *ngIf="!this.showDetails">Scan your QR-Code</md-card-title>
				<md-card-title *ngIf="this.showDetails">User Details</md-card-title>
    	</div>
    </md-card-header>
    <md-card-content>
	    <div>
	    	<canvas id="qr-canvas" width="400" height="400" hidden="true"></canvas>
			<div id="outdiv" class="user-details"></div>
			<div id="mainbody"></div>
	    </div>
		<div *ngIf="this.showDetails">user details</div>
	</md-card-content>
    <md-card-actions layout="row" layout-align="start center">
      <button md-fab mdTooltip="Go back" mdTooltipPosition="after"
      	color="warn" (click)="getMeBack()"><md-icon>keyboard_backspace</md-icon></button>
    </md-card-actions>
</md-card>