<md-toolbar class="mat-toolbar-row" color="warn"> 
  <md-card-avatar>
        <img class="profile-pic" src="{{userName.profilePic}}"/>
      </md-card-avatar>
      <div class="user-name">
        <span class="md-title">{{userName.name}}</span>
      </div>
  <span class="spacer"></span>
  
  <a aria-haspopup="true" md-icon-button="" aria-disabled="false" tabindex="0" class="mat-icon-button">
    <span class="mat-button-wrapper">
      <span class="notify">3</span>
      <md-icon role="img" class="material-icons mat-icon" aria-label="notifications">notifications</md-icon>
    </span>
    <div class="mat-button-ripple mat-button-ripple-round mat-ripple" md-ripple=""></div>
  </a>
  
</md-toolbar>
<router-outlet></router-outlet>