.profile-pic {
    height: inherit;
    border-radius: inherit;
}
.user-name {
    padding-left: 20px;
}
.notify {
    position: absolute;
    border-radius: 50%;
    border-color: transparent;
    padding: 1.3px;
    width: 16px;
    height: 16px;
    background-color: indigo;
    color: #fff;
    vertical-align: baseline;
    text-align: center;
    white-space: nowrap;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.4;
    right: 0;
}