<md-card class="example-card">
  <md-card-header class="manage-details">
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Welcome {{userName.name}}</md-card-title>
    <md-card-subtitle>Manage your events</md-card-subtitle>
  </md-card-header>
  <md-card-actions class='manage-details'>
    <button md-raised-button color="warn" [routerLink]="['attendance']">Attendance</button>
    <span class="button-space"></span>
    <button md-raised-button color="warn" (click)="sendNotification()">Notification</button>
  </md-card-actions>
</md-card>